a {
    text-decoration: none;         
    color: white; 
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}

.head {
    padding: 15px   20px 15px 20px;
    border-radius: 10px;
}


a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(0, 0, 0);
}

#searchBar {
    border-radius: 20%;

}